@using GameSystem.Models
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>无尽征途Endless Journey - @ViewBag.Title </title>


    @Styles.Render("~/Content/css")        <!--becuase it has been bundled in BundleConfig.cs-->
    @Scripts.Render("~/bundles/modernizr")
    <link href="/css/global.css" rel="stylesheet" />


</head>
<body>
    <div id="all">

        <!--Page header-->
        <div id="head">
            <div id="user">
                @if (Session["login"] == null)     /* check user login status, through session.  when it is null, display the login */
                {
                    <span>
                        <a href="/Account/Login" target="_blank">Log-in</a> |
                        <a href="/Account/Register" target="_blank"> Register </a>
                    </span>
                }
                else
                {
                    string uname = ((Account)Session["login"]).AccountName;   /* by default, get the Object type from Session[] */
                    <span>
                        @uname Welcome!
                        <a href="/Msg/Index" target="_blank">Information management</a>
                        @Html.ActionLink("log-out", "Quite", "Account")

                    </span>
                }

            </div>


            <div style="clear:both;"></div>
        </div>


        <div id="middle">
            <div id="bannel">
                <!--Menu-->
                <div id="menu">
                    <ul>
                        <li>
                            @if (ViewBag.Title == "Home page")
                            {<a href="/Home/Index" class="activemenu"><img src="/img/logo1.png" style="height:30px;" /></a>}
                            else { <a href="/Home/Index"><img src="/img/logo1.png" style="height:30px;" /></a>}
                        </li>
                        <li>
                            @if (ViewBag.Title == "News")
                            {<a href="/Home/News" class="activemenu">News</a>}
                            else { <a href="/Home/News">News</a>}
                        </li>
                        <li>
                            @if (ViewBag.Title == "Hero's records")
                            {<a href="/Home/Heros" class="activemenu">Hero's records</a>}
                            else { <a href="/Home/Heros">Hero's records</a>}
                        </li>
                        <li>
                            @if (ViewBag.Title == "Videos and pictures")
                            {<a href="/Home/Videos" class="activemenu">Videos and pictures</a>}
                            else { <a href="/Home/Videos">Videos and pictures</a>}
                        </li>
                        <div style="clear:both;"></div>
                    </ul>
                </div>
            </div>
            <!--Information list-->
            @RenderBody()
        </div>


            <!--Page footer-->
            <div id="footer">
                <div>
                    <div id="flogo">
                        <img src="/img/logo2.png" />
                    </div>
                    <div id="cfooter">
                        ©2022 All right reserved WuJi Technology Company | 新广出审[2018]377号
                        <hr style="height:1px;border:none;border-top:1px solid #808080;" />
                        <p> Resist bad games and refuse pirated games. Pay attention to self-protection and beware of being cheated.</p>
                        <p> Moderate games benefit the brain, addicted to games hurt the body. Reasonable arrangement of time and enjoy a healthy life.。</p>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
